In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
from pandas_profiling import ProfileReport

import matplotlib 
from matplotlib import pyplot as plt
from matplotlib import style
import warnings
warnings.filterwarnings("ignore")

In [35]:
df=pd.read_csv(r'C:\Users\A803377\Downloads\result-DataRobot.csv')
df

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
0,0.396397,0.603603,No,0.6,Yes,APPROVED,7883096_745304,0650,ZSRV,ZTCT,...,2022-05-05 07:37:42.273,A411860,2019-03-12 00:00:00.000,2022-04-07 00:00:00.000,2022-04-07 00:00:00.000,AP_IS,Yes,both,Yes,Yes
1,0.092025,0.907975,No,0.6,Yes,APPROVED,8004430_930513,0623,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A800689,2019-09-19 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,AP_CS,No,both,Yes,No
2,0.375221,0.624779,No,0.6,Yes,APPROVED,8042666_51365,0650,ZSRV,ZTCS,...,2022-06-02 07:34:27.730,A411860,2019-11-19 00:00:00.000,2022-05-31 00:00:00.000,2022-05-31 00:00:00.000,AP_IS,No,left_only,Yes,Yes
3,0.108422,0.891578,No,0.6,Yes,APPROVED,8127828_734115,0445,ZOR,ZTGP,...,2022-06-07 07:39:26.280,A801130,2020-03-30 00:00:00.000,2022-06-06 00:00:00.000,2022-06-06 00:00:00.000,EMEA_IS,No,left_only,No,No
4,0.356529,0.643471,No,0.6,Yes,APPROVED,8141536_934368,0410,ZB2B,ZTAN,...,2022-05-12 07:44:54.290,WF-BATCH,2020-04-23 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,RSA,Yes,both,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382477,0.693335,0.306665,Yes,0.6,Yes,APPROVED,8718764_226617,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,both,Yes,No
382478,0.454935,0.545065,No,0.6,Yes,APPROVED,8718765_214099,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382479,0.687945,0.312055,Yes,0.6,Yes,APPROVED,8718765_214100,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382480,0.000008,0.999992,No,0.6,Yes,APPROVED,8718765_214180,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382481,0.622725,0.377275,Yes,0.6,Yes,APPROVED,8718765_222061,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No

In [36]:
df.drop_duplicates(keep=False,inplace=True)

In [37]:
df

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
0,0.396397,0.603603,No,0.6,Yes,APPROVED,7883096_745304,0650,ZSRV,ZTCT,...,2022-05-05 07:37:42.273,A411860,2019-03-12 00:00:00.000,2022-04-07 00:00:00.000,2022-04-07 00:00:00.000,AP_IS,Yes,both,Yes,Yes
1,0.092025,0.907975,No,0.6,Yes,APPROVED,8004430_930513,0623,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A800689,2019-09-19 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,AP_CS,No,both,Yes,No
2,0.375221,0.624779,No,0.6,Yes,APPROVED,8042666_51365,0650,ZSRV,ZTCS,...,2022-06-02 07:34:27.730,A411860,2019-11-19 00:00:00.000,2022-05-31 00:00:00.000,2022-05-31 00:00:00.000,AP_IS,No,left_only,Yes,Yes
3,0.108422,0.891578,No,0.6,Yes,APPROVED,8127828_734115,0445,ZOR,ZTGP,...,2022-06-07 07:39:26.280,A801130,2020-03-30 00:00:00.000,2022-06-06 00:00:00.000,2022-06-06 00:00:00.000,EMEA_IS,No,left_only,No,No
4,0.356529,0.643471,No,0.6,Yes,APPROVED,8141536_934368,0410,ZB2B,ZTAN,...,2022-05-12 07:44:54.290,WF-BATCH,2020-04-23 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,RSA,Yes,both,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382477,0.693335,0.306665,Yes,0.6,Yes,APPROVED,8718764_226617,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,both,Yes,No
382478,0.454935,0.545065,No,0.6,Yes,APPROVED,8718765_214099,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382479,0.687945,0.312055,Yes,0.6,Yes,APPROVED,8718765_214100,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382480,0.000008,0.999992,No,0.6,Yes,APPROVED,8718765_214180,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382481,0.622725,0.377275,Yes,0.6,Yes,APPROVED,8718765_222061,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No

In [38]:
df1 = df.drop_duplicates(subset=['SO_mat', '_CC Open Net Amount'])

In [39]:
df1

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
0,0.396397,0.603603,No,0.6,Yes,APPROVED,7883096_745304,0650,ZSRV,ZTCT,...,2022-05-05 07:37:42.273,A411860,2019-03-12 00:00:00.000,2022-04-07 00:00:00.000,2022-04-07 00:00:00.000,AP_IS,Yes,both,Yes,Yes
1,0.092025,0.907975,No,0.6,Yes,APPROVED,8004430_930513,0623,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A800689,2019-09-19 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,AP_CS,No,both,Yes,No
2,0.375221,0.624779,No,0.6,Yes,APPROVED,8042666_51365,0650,ZSRV,ZTCS,...,2022-06-02 07:34:27.730,A411860,2019-11-19 00:00:00.000,2022-05-31 00:00:00.000,2022-05-31 00:00:00.000,AP_IS,No,left_only,Yes,Yes
3,0.108422,0.891578,No,0.6,Yes,APPROVED,8127828_734115,0445,ZOR,ZTGP,...,2022-06-07 07:39:26.280,A801130,2020-03-30 00:00:00.000,2022-06-06 00:00:00.000,2022-06-06 00:00:00.000,EMEA_IS,No,left_only,No,No
4,0.356529,0.643471,No,0.6,Yes,APPROVED,8141536_934368,0410,ZB2B,ZTAN,...,2022-05-12 07:44:54.290,WF-BATCH,2020-04-23 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,RSA,Yes,both,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382477,0.693335,0.306665,Yes,0.6,Yes,APPROVED,8718764_226617,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,both,Yes,No
382478,0.454935,0.545065,No,0.6,Yes,APPROVED,8718765_214099,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382479,0.687945,0.312055,Yes,0.6,Yes,APPROVED,8718765_214100,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382480,0.000008,0.999992,No,0.6,Yes,APPROVED,8718765_214180,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382481,0.622725,0.377275,Yes,0.6,Yes,APPROVED,8718765_222061,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No

In [7]:
df['_CC Open Net Amount'].sum()

1248260739.2489917

In [34]:
df_closed_Actual= df [df['isConverted'] == 'Yes']
df_closed_Actual

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
0,0.396397,0.603603,No,0.6,Yes,APPROVED,7883096_745304,0650,ZSRV,ZTCT,...,2022-05-05 07:37:42.273,A411860,2019-03-12 00:00:00.000,2022-04-07 00:00:00.000,2022-04-07 00:00:00.000,AP_IS,Yes,both,Yes,Yes
4,0.356529,0.643471,No,0.6,Yes,APPROVED,8141536_934368,0410,ZB2B,ZTAN,...,2022-05-12 07:44:54.290,WF-BATCH,2020-04-23 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,RSA,Yes,both,Yes,Yes
5,0.808068,0.191932,Yes,0.6,Yes,APPROVED,8182863_911437,5500,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A740214,2020-07-06 00:00:00.000,2022-04-19 00:00:00.000,2022-04-19 00:00:00.000,LAM_CS,Yes,both,No,No
8,0.438879,0.561121,No,0.6,Yes,APPROVED,8242625_941172,9641,ZOR,ZTAG,...,2022-05-19 07:47:04.533,A801667,2020-10-12 00:00:00.000,2022-04-30 00:00:00.000,2022-04-30 00:00:00.000,AP_CS,Yes,both,Yes,No
9,0.435225,0.564775,No,0.6,Yes,APPROVED,8245303_936317,0650,ZOR,ZTAG,...,2022-04-20 07:34:36.383,A801394,2020-10-16 00:00:00.000,2022-03-05 00:00:00.000,2022-03-05 00:00:00.000,AP_CS,Yes,both,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382401,0.781384,0.218616,Yes,0.6,Yes,APPROVED,8718728_226484,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No
382402,0.826635,0.173365,Yes,0.6,Yes,APPROVED,8718729_324964,0460,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A801111,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,EMEA_IS,Yes,both,Yes,No
382432,0.905024,0.094976,Yes,0.6,Yes,APPROVED,8718741_213990,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No
382433,0.865498,0.134502,Yes,0.6,Yes,APPROVED,8718741_226484,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No
382434,0.856561,0.143439,Yes,0.6,Yes,APPROVED,8718741_232514,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No

In [35]:
df_closed_Actual['_CC Open Net Amount'].sum()

492191778.5990879

In [36]:
df_test['Reporting Date'].min()

NameError: name 'df_test' is not defined

In [37]:
# Reporting Date
df_test_06 = df.loc[df['Reporting Date'] >= '2022-06-01 00:00:00.000']
df_test_05 = df.loc[(df['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df['Reporting Date'] <= '2022-06-01 00:00:00.000')]
df_test_04 = df.loc[(df['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df['Reporting Date'] <= '2022-05-01 00:00:00.000')]

In [38]:
df_test

NameError: name 'df_test' is not defined

In [39]:
print('04_Rev :',"{:0,}".format(df_test_04['_CC Open Net Amount'].sum()))
print('04_Row_Count:',len(df_test_04),'\n')

print('05_Rev :',"{:0,}".format(df_test_05['_CC Open Net Amount'].sum()))
print('05_Row_Count:',len(df_test_05),'\n')
      
print('06_Rev :',"{:0,}".format(df_test_06['_CC Open Net Amount'].sum()))
print('06_Row_Count:',len(df_test_06))

04_Rev : 223,758,472.3602183
04_Row_Count: 72058

05_Rev : 258,092,328.67763072
05_Row_Count: 105483

06_Rev : 766,409,938.2111429
06_Row_Count: 204941

In [40]:

df_06_act = df_test_06.groupby(['Region']).agg({'_CC Open Net Amount': 'sum'})
df_05_act = df_test_05.groupby(['Region']).agg({'_CC Open Net Amount': 'sum'})
df_04_act = df_test_04.groupby(['Region']).agg({'_CC Open Net Amount': 'sum'})

In [41]:
df_06_act['_CC Open Net Amount']=df_06_act['_CC Open Net Amount'].astype(int)
df_06_act.loc['_Total'] = df_06_act.sum(numeric_only=True, axis=0)
df_06_act['_CC Open Net Amount']=df_06_act['_CC Open Net Amount'].apply('{:0,.2f}'.format)
df_06_act.rename(columns = {'_CC Open Net Amount':'06th Rev'}, inplace = True)

df_05_act['_CC Open Net Amount']=df_05_act['_CC Open Net Amount'].astype(int)
df_05_act.loc['_Total'] = df_05_act.sum(numeric_only=True, axis=0)
df_05_act['_CC Open Net Amount']=df_05_act['_CC Open Net Amount'].apply('{:0,.2f}'.format)
df_05_act.rename(columns = {'_CC Open Net Amount':'05th Rev'}, inplace = True)


df_04_act['_CC Open Net Amount']=df_04_act['_CC Open Net Amount'].astype(int)
df_04_act.loc['_Total'] = df_04_act.sum(numeric_only=True, axis=0)
df_04_act['_CC Open Net Amount']=df_04_act['_CC Open Net Amount'].apply('{:0,.2f}'.format)
df_04_act.rename(columns = {'_CC Open Net Amount':'04th Rev'}, inplace = True)



df_final = pd.concat([df_06_act,df_05_act,df_04_act],axis=1)
df_final

              06th Rev        05th Rev        04th Rev
Region
APAC     56,313,467.00   32,582,858.00   34,881,999.00
EMEA    190,124,784.00   67,599,985.00   56,677,672.00
LAM      58,217,297.00   31,005,401.00   33,088,987.00
NAM     461,754,388.00  126,904,083.00   99,109,812.00
_Total  766,409,936.00  258,092,327.00  223,758,470.00

In [42]:
# Reporting Date
dfact_test = df_closed_Actual.loc[df_closed_Actual['Reporting Date'] >= '2022-06-01 00:00:00.000']
dfact_test1 = df_closed_Actual.loc[(df_closed_Actual['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_Actual['Reporting Date'] <= '2022-06-01 00:00:00.000')]
dfact_test2 = df_closed_Actual.loc[(df_closed_Actual['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_Actual['Reporting Date'] <= '2022-05-01 00:00:00.000')]

In [43]:
print('Actual for 06_Rev',"{:0,.2f}".format(dfact_test['_CC Open Net Amount'].sum()),'\n')
print('Actual for 05_Rev',"{:0,.2f}".format(dfact_test1['_CC Open Net Amount'].sum()),'\n')
print('Actual for 04_Rev',"{:0,.2f}".format(dfact_test2['_CC Open Net Amount'].sum()),'\n')

Actual for 06_Rev 195,776,248.08

Actual for 05_Rev 154,328,145.78

Actual for 04_Rev 142,087,384.73

In [44]:
df_06_act = dfact_test.groupby(['Region']).agg({'_CC Open Net Amount': 'sum'})
df_05_act = dfact_test1.groupby(['Region']).agg({'_CC Open Net Amount': 'sum'})
df_04_act = dfact_test2.groupby(['Region']).agg({'_CC Open Net Amount': 'sum'})

In [45]:
df_06_act['_CC Open Net Amount']=df_06_act['_CC Open Net Amount'].astype(int)
df_06_act.loc['_Total'] = df_06_act.sum(numeric_only=True, axis=0)
df_06_act['_CC Open Net Amount']=df_06_act['_CC Open Net Amount'].apply('{:0,.2f}'.format)
df_06_act.rename(columns = {'_CC Open Net Amount':'06th Rev'}, inplace = True)

df_05_act['_CC Open Net Amount']=df_05_act['_CC Open Net Amount'].astype(int)
df_05_act.loc['_Total'] = df_05_act.sum(numeric_only=True, axis=0)
df_05_act['_CC Open Net Amount']=df_05_act['_CC Open Net Amount'].apply('{:0,.2f}'.format)
df_05_act.rename(columns = {'_CC Open Net Amount':'05th Rev'}, inplace = True)


df_04_act['_CC Open Net Amount']=df_04_act['_CC Open Net Amount'].astype(int)
df_04_act.loc['_Total'] = df_04_act.sum(numeric_only=True, axis=0)
df_04_act['_CC Open Net Amount']=df_04_act['_CC Open Net Amount'].apply('{:0,.2f}'.format)
df_04_act.rename(columns = {'_CC Open Net Amount':'04th Rev'}, inplace = True)



df_final = pd.concat([df_06_act,df_05_act,df_04_act],axis=1)
df_final

              06th Rev        05th Rev        04th Rev
Region
APAC     22,927,926.00   22,709,422.00   24,098,990.00
EMEA     55,531,958.00   41,827,738.00   38,920,554.00
LAM      27,297,806.00   24,252,730.00   23,682,519.00
NAM      90,018,557.00   65,538,253.00   55,385,320.00
_Total  195,776,247.00  154,328,143.00  142,087,383.00

In [44]:
df_closed_pred= df [df['isConverted_PREDICTION'] == 'Yes']
df_closed_pred

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
5,0.808068,0.191932,Yes,0.6,Yes,APPROVED,8182863_911437,5500,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A740214,2020-07-06 00:00:00.000,2022-04-19 00:00:00.000,2022-04-19 00:00:00.000,LAM_CS,Yes,both,No,No
11,0.643350,0.356650,Yes,0.6,Yes,APPROVED,8260663_931905,0869,ZOR,ZTAN,...,2022-04-12 07:36:29.423,A740090,2020-11-10 00:00:00.000,2022-01-31 00:00:00.000,2022-01-31 00:00:00.000,AP_CS,No,left_only,Yes,No
18,0.618020,0.381980,Yes,0.6,Yes,APPROVED,8306786_842786,0650,ZOR,ZTAN,...,2022-06-01 07:34:58.660,A411860,2021-01-22 00:00:00.000,2022-06-13 00:00:00.000,2022-06-13 00:00:00.000,AP_IS,Yes,both,Yes,Yes
56,0.867194,0.132806,Yes,0.6,Yes,APPROVED,8389133_878619,3580,ZOR,ZTAN,...,2022-05-06 07:36:07.850,A740815,2021-06-01 00:00:00.000,2022-05-06 00:00:00.000,2022-05-06 00:00:00.000,EMEA_CS,Yes,both,Yes,Yes
64,0.607060,0.392940,Yes,0.6,Yes,APPROVED,8402880_875284,1800,ZOR,ZTAN,...,2022-06-24 07:36:47.543,RCARBAJAL,2021-06-22 00:00:00.000,2022-07-27 00:00:00.000,2022-07-27 00:00:00.000,LAM_CS,No,left_only,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382471,0.605411,0.394589,Yes,0.6,Yes,APPROVED,8718759_872928,0490,ZOR,ZBLK,...,2022-06-29 07:36:50.800,A741795,2022-06-29 00:00:00.000,2022-07-12 00:00:00.000,2022-07-12 00:00:00.000,EMEA_CS,No,left_only,Yes,No
382476,0.831855,0.168145,Yes,0.6,Yes,APPROVED,8718764_214100,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382477,0.693335,0.306665,Yes,0.6,Yes,APPROVED,8718764_226617,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,both,Yes,No
382479,0.687945,0.312055,Yes,0.6,Yes,APPROVED,8718765_214100,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382481,0.622725,0.377275,Yes,0.6,Yes,APPROVED,8718765_222061,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No

In [45]:
# Reporting Date
dfpred_test = df_closed_pred.loc[df_closed_pred['Reporting Date'] >= '2022-06-01 00:00:00.000']
dfpred_test1 = df_closed_pred.loc[(df_closed_pred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_pred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
dfpred_test2 = df_closed_pred.loc[(df_closed_pred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_pred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

In [116]:
print('Pred for 06_Rev',"{:0,}".format(dfpred_test['_CC Open Net Amount'].sum()),'\n')
print('Pred for 05_Rev',"{:0,}".format(dfpred_test1['_CC Open Net Amount'].sum()),'\n')
print('Pred for 04_Rev',"{:0,}".format(dfpred_test2['_CC Open Net Amount'].sum()),'\n')

Pred for 06_Rev 155,206,681.0083086

Pred for 05_Rev 121,483,965.44345883

Pred for 04_Rev 111,603,983.73929355

In [47]:
df_closed_Truepred= df [(df['isConverted_PREDICTION'] == 'Yes') & (df['isConverted'] == 'Yes') ]
df_closed_Truepred

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
5,0.808068,0.191932,Yes,0.6,Yes,APPROVED,8182863_911437,5500,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A740214,2020-07-06 00:00:00.000,2022-04-19 00:00:00.000,2022-04-19 00:00:00.000,LAM_CS,Yes,both,No,No
18,0.618020,0.381980,Yes,0.6,Yes,APPROVED,8306786_842786,0650,ZOR,ZTAN,...,2022-06-01 07:34:58.660,A411860,2021-01-22 00:00:00.000,2022-06-13 00:00:00.000,2022-06-13 00:00:00.000,AP_IS,Yes,both,Yes,Yes
56,0.867194,0.132806,Yes,0.6,Yes,APPROVED,8389133_878619,3580,ZOR,ZTAN,...,2022-05-06 07:36:07.850,A740815,2021-06-01 00:00:00.000,2022-05-06 00:00:00.000,2022-05-06 00:00:00.000,EMEA_CS,Yes,both,Yes,Yes
98,0.688306,0.311694,Yes,0.6,Yes,APPROVED,8431659_871950,0544,ZOR,ZTAN,...,2022-05-10 07:39:40.893,A740783,2021-08-05 00:00:00.000,2022-05-09 00:00:00.000,2022-05-09 00:00:00.000,LAM_IS,Yes,both,Yes,Yes
117,0.642416,0.357584,Yes,0.6,Yes,APPROVED,8443330_755085,5500,ZOR,ZTAN,...,2022-04-08 07:33:40.070,A801976,2021-08-25 00:00:00.000,2022-04-08 00:00:00.000,2022-04-08 00:00:00.000,LAM_IS,Yes,both,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382401,0.781384,0.218616,Yes,0.6,Yes,APPROVED,8718728_226484,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No
382402,0.826635,0.173365,Yes,0.6,Yes,APPROVED,8718729_324964,0460,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A801111,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,EMEA_IS,Yes,both,Yes,No
382432,0.905024,0.094976,Yes,0.6,Yes,APPROVED,8718741_213990,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No
382433,0.865498,0.134502,Yes,0.6,Yes,APPROVED,8718741_226484,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No
382434,0.856561,0.143439,Yes,0.6,Yes,APPROVED,8718741_232514,ZA01,ZOR,ZTAN,...,2022-06-29 07:36:50.800,A502536,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,2022-06-29 00:00:00.000,ZA_PS,Yes,both,Yes,No

In [48]:
# Reporting Date
df_Truepred_test = df_closed_Truepred.loc[df_closed_Truepred['Reporting Date'] >= '2022-06-01 00:00:00.000']
df_Truepred_test1 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
df_Truepred_test2 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

In [49]:
print('06_Rev',df_Truepred_test['_CC Open Net Amount'].sum())
print('05_Rev',df_Truepred_test1['_CC Open Net Amount'].sum())
print('04_Rev',df_Truepred_test2['_CC Open Net Amount'].sum())

print('True PredActual for 06_Rev',"{:0,}".format(df_Truepred_test['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 05_Rev',"{:0,}".format(df_Truepred_test1['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 04_Rev',"{:0,}".format(df_Truepred_test2['_CC Open Net Amount'].sum()),'\n')

06_Rev 118524220.7460227
05_Rev 110614265.28328907
04_Rev 100634195.24181631

In [2]:
df=pd.read_csv(r'C:\Users\A803377\Downloads\result-DataRobot.csv')
df

,isConverted_Yes_PREDICTION,isConverted_No_PREDICTION,isConverted_PREDICTION,THRESHOLD,POSITIVE_CLASS,DEPLOYMENT_APPROVAL_STATUS,SO_mat,Company Code,Sales Doc Type,QDOC_Type,...,Reporting Date,Order Created By,Created On,Loading Date,Material Staging/Availability Date,Reporting Line,isConverted,isInvoiced,MatOntime,RDDchanged
0,0.396397,0.603603,No,0.6,Yes,APPROVED,7883096_745304,0650,ZSRV,ZTCT,...,2022-05-05 07:37:42.273,A411860,2019-03-12 00:00:00.000,2022-04-07 00:00:00.000,2022-04-07 00:00:00.000,AP_IS,Yes,both,Yes,Yes
1,0.092025,0.907975,No,0.6,Yes,APPROVED,8004430_930513,0623,ZOR,ZTAN,...,2022-04-04 07:35:59.300,A800689,2019-09-19 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,AP_CS,No,both,Yes,No
2,0.375221,0.624779,No,0.6,Yes,APPROVED,8042666_51365,0650,ZSRV,ZTCS,...,2022-06-02 07:34:27.730,A411860,2019-11-19 00:00:00.000,2022-05-31 00:00:00.000,2022-05-31 00:00:00.000,AP_IS,No,left_only,Yes,Yes
3,0.108422,0.891578,No,0.6,Yes,APPROVED,8127828_734115,0445,ZOR,ZTGP,...,2022-06-07 07:39:26.280,A801130,2020-03-30 00:00:00.000,2022-06-06 00:00:00.000,2022-06-06 00:00:00.000,EMEA_IS,No,left_only,No,No
4,0.356529,0.643471,No,0.6,Yes,APPROVED,8141536_934368,0410,ZB2B,ZTAN,...,2022-05-12 07:44:54.290,WF-BATCH,2020-04-23 00:00:00.000,2022-05-25 00:00:00.000,2022-05-25 00:00:00.000,RSA,Yes,both,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382477,0.693335,0.306665,Yes,0.6,Yes,APPROVED,8718764_226617,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,both,Yes,No
382478,0.454935,0.545065,No,0.6,Yes,APPROVED,8718765_214099,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382479,0.687945,0.312055,Yes,0.6,Yes,APPROVED,8718765_214100,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382480,0.000008,0.999992,No,0.6,Yes,APPROVED,8718765_214180,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No
382481,0.622725,0.377275,Yes,0.6,Yes,APPROVED,8718765_222061,ZA01,ZEDI,ZTAN,...,2022-06-29 07:36:50.800,SAPPORFC,2022-06-29 00:00:00.000,2022-06-30 00:00:00.000,2022-06-30 00:00:00.000,ZA_PS,No,left_only,Yes,No

In [3]:
df_new = df.copy()

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_score, GridSearchCV

from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
import warnings
warnings.filterwarnings("ignore")

In [82]:
df_new['New Pred'] = np.where(df['isConverted_Yes_PREDICTION']<=.53, 'No', 'Yes')

In [83]:
print("accuracy score:",accuracy_score(df_new['isConverted'],df_new['New Pred'] ))
print("confusion_matrix:\n",confusion_matrix(df_new['isConverted'],df_new['New Pred'] ))

accuracy score: 0.8125375834679802
confusion_matrix:
 [[183632  35076]
 [ 36625 127149]]

In [84]:
df_closed_pred= df_new [df_new['New Pred'] == 'Yes']
print('Count :',df_closed_pred['New Pred'].count(),'\n')

# Reporting Date
dfpred_test = df_closed_pred.loc[df_closed_pred['Reporting Date'] >= '2022-06-01 00:00:00.000']
dfpred_test1 = df_closed_pred.loc[(df_closed_pred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_pred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
dfpred_test2 = df_closed_pred.loc[(df_closed_pred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_pred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

# Predicted revenue

print('Pred for 06_Rev',"{:0,.2f}".format(dfpred_test['_CC Open Net Amount'].sum()),'\n')
print('Pred for 05_Rev',"{:0,.2f}".format(dfpred_test1['_CC Open Net Amount'].sum()),'\n')
print('Pred for 04_Rev',"{:0,.2f}".format(dfpred_test2['_CC Open Net Amount'].sum()),'\n')

Count : 162225

Pred for 06_Rev 204,112,516.96

Pred for 05_Rev 140,166,353.91

Pred for 04_Rev 130,762,841.01

In [75]:
print('False Negative')

df_closed_Truepred= df_new [(df_new['New Pred'] == 'No') & (df_new['isConverted'] == 'Yes') ]
print('Count :',df_closed_Truepred['New Pred'].count(),'\n')

# Reporting Date
df_Truepred_test = df_closed_Truepred.loc[df_closed_Truepred['Reporting Date'] >= '2022-06-01 00:00:00.000']
df_Truepred_test1 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
df_Truepred_test2 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

#True revenue predicted 
print('True PredActual for 06_Rev',"{:0,.2f}".format(df_Truepred_test['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 05_Rev',"{:0,.2f}".format(df_Truepred_test1['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 04_Rev',"{:0,.2f}".format(df_Truepred_test2['_CC Open Net Amount'].sum()),'\n')

False Negative
Count : 36625

True PredActual for 06_Rev 55,814,400.68

True PredActual for 05_Rev 29,546,588.72

True PredActual for 04_Rev 26,744,600.39

In [76]:
print('False Positive')

df_closed_Truepred= df_new [(df_new['New Pred'] == 'Yes') & (df_new['isConverted'] == 'No') ]
print('Count :',df_closed_Truepred['New Pred'].count(),'\n')

# Reporting Date
df_Truepred_test = df_closed_Truepred.loc[df_closed_Truepred['Reporting Date'] >= '2022-06-01 00:00:00.000']
df_Truepred_test1 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
df_Truepred_test2 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

#True revenue predicted 
print('True PredActual for 06_Rev',"{:0,.2f}".format(df_Truepred_test['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 05_Rev',"{:0,.2f}".format(df_Truepred_test1['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 04_Rev',"{:0,.2f}".format(df_Truepred_test2['_CC Open Net Amount'].sum()),'\n')

False Positive
Count : 35076

True PredActual for 06_Rev 64,150,669.56

True PredActual for 05_Rev 15,384,796.85

True PredActual for 04_Rev 15,420,056.66

In [77]:
print('True Negative')

df_closed_Truepred= df_new [(df_new['New Pred'] == 'No') & (df_new['isConverted'] == 'No') ]
print('Count :',df_closed_Truepred['New Pred'].count(),'\n')

# Reporting Date
df_Truepred_test = df_closed_Truepred.loc[df_closed_Truepred['Reporting Date'] >= '2022-06-01 00:00:00.000']
df_Truepred_test1 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
df_Truepred_test2 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

#True revenue predicted 
print('True PredActual for 06_Rev',"{:0,}".format(df_Truepred_test['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 05_Rev',"{:0,}".format(df_Truepred_test1['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 04_Rev',"{:0,}".format(df_Truepred_test2['_CC Open Net Amount'].sum()),'\n')

True Negative
Count : 183632

True PredActual for 06_Rev 506,483,020.5724434

True PredActual for 05_Rev 88,379,386.0453065

True PredActual for 04_Rev 66,251,030.9644718

In [78]:
print('True Positive')

df_closed_Truepred= df_new [(df_new['New Pred'] == 'Yes') & (df_new['isConverted'] == 'Yes') ]
print('Count :',df_closed_Truepred['New Pred'].count(),'\n')

# Reporting Date
df_Truepred_test = df_closed_Truepred.loc[df_closed_Truepred['Reporting Date'] >= '2022-06-01 00:00:00.000']
df_Truepred_test1 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-05-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-06-01 00:00:00.000')]
df_Truepred_test2 = df_closed_Truepred.loc[(df_closed_Truepred['Reporting Date'] >= '2022-04-01 00:00:00.000') & (df_closed_Truepred['Reporting Date'] <= '2022-05-01 00:00:00.000')]

#True revenue predicted 
print('True PredActual for 06_Rev',"{:0,}".format(df_Truepred_test['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 05_Rev',"{:0,}".format(df_Truepred_test1['_CC Open Net Amount'].sum()),'\n')
print('True PredActual for 04_Rev',"{:0,}".format(df_Truepred_test2['_CC Open Net Amount'].sum()),'\n')

True Positive
Count : 127149

True PredActual for 06_Rev 139,961,847.40639335

True PredActual for 05_Rev 124,781,557.06214781

True PredActual for 04_Rev 115,342,784.34153147

In [3]:
df=pd.read_csv(r'C:\Users\A803377\Downloads\orders_sharable.csv')
df

,Sales Order Num,Material,Sales Order Line Item,$CC Open Net Amount,Reporting Date
0,8593663,209275,30,0.000000,2022-04-19
1,8593663,209275,30,0.000000,2022-04-29
2,8593767,209275,30,0.000000,2022-04-06
3,8591112,210402,20,242.400000,2022-04-13
4,8583528,210402,20,363.600000,2022-04-15
...,...,...,...,...,...
10033696,8604979,218448,20,61.799256,2022-06-16
10033697,8604979,218448,20,61.799256,2022-06-24
10033698,8685591,218448,20,123.598512,2022-06-02
10033699,8685591,218448,20,123.598512,2022-06-06
10033700,8706996,218448,20,61.799256,2022-06-28

In [37]:
df_invoiced=pd.read_csv(r'C:\Users\A803377\Downloads\invoice_sharable.csv')
df_invoiced.rename(columns = {'Sales order number':'Sales Order Num'}, inplace = True)
df_invoiced['Posting_Date']= pd.to_datetime(df_invoiced['Posting_Date'])
df_invoiced.sort_values(by=['Posting_Date','Material','Sales Order Num',],inplace=True)

df_invoiced

,Sales Order Num,Material,Sales order line item,$CC Rev,Posting_Date
343837,40042597,20138.0,NaN,162.067351,2022-04-01
32587,8535142,35880.0,NaN,15.652510,2022-04-01
182653,8535142,35880.0,NaN,187.089168,2022-04-01
417750,40035213,36523.0,NaN,1500.000000,2022-04-01
177382,40035693,36523.0,NaN,4635.000000,2022-04-01
...,...,...,...,...,...
528194,65156027,NaN,NaN,557.450000,2022-06-30
545378,65156027,NaN,NaN,1435.300000,2022-06-30
545384,65156027,NaN,NaN,424.100000,2022-06-30
548537,65156027,NaN,NaN,-9.760000,2022-06-30
515986,65156030,NaN,NaN,107952.000000,2022-06-30

In [36]:
df_invoiced.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 553788 entries, 110897 to 520274
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sales Order Num        553788 non-null  int64
 1   Material               502204 non-null  float64
 2   Sales order line item  50 non-null      float64
 3   $CC Rev                553788 non-null  float64
 4   Posting_Date           553788 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 25.4 MB

In [4]:

# df_amt_june['Close By End Of Month'] = df_amt_june['Close By End Of Month'].astype(np.int32)
df.sort_values(by=['Material','Sales Order Num','Reporting Date'],inplace=True)
df

,Sales Order Num,Material,Sales Order Line Item,$CC Open Net Amount,Reporting Date
1117550,8507629,1231,20,0.0,2022-04-01
1116577,8507629,1231,20,0.0,2022-04-04
1125904,8507629,1231,20,0.0,2022-04-05
1119884,8507629,1231,20,0.0,2022-04-06
1117590,8507629,1231,20,0.0,2022-04-07
...,...,...,...,...,...
8975205,8675758,8868279,30,26829.0,2022-06-23
8975270,8675758,8868279,30,26829.0,2022-06-24
8954336,8675758,8868279,30,26829.0,2022-06-27
8954394,8675758,8868279,30,26829.0,2022-06-28
8927088,8675758,8868279,30,26829.0,2022-06-29

In [20]:
df_ND = df.drop_duplicates(subset=['Material','Sales Order Num','$CC Open Net Amount'], keep='last')

In [26]:
df_ND=df_ND.drop(df_ND[df_ND["$CC Open Net Amount"] == 0.0].index)
df_ND

,Sales Order Num,Material,Sales Order Line Item,$CC Open Net Amount,Reporting Date
1129475,8524727,1231,20,45.682845,2022-04-29
3809198,8541042,1231,30,45.789270,2022-05-30
7570795,8572019,1231,20,45.709452,2022-06-29
3670346,8614345,1231,20,197.182742,2022-05-23
1122899,8621742,1231,20,46.188363,2022-04-14
...,...,...,...,...,...
5950192,8664314,8868261,10,4549.036800,2022-05-24
9967466,8675758,8868275,10,5574.240000,2022-06-29
8686998,8703420,8868277,30,10640.156156,2022-06-27
5333337,8671804,8868279,10,26829.000000,2022-05-24
8927088,8675758,8868279,30,26829.000000,2022-06-29

In [40]:
df_ND['Reporting Date']= pd.to_datetime(df_ND['Reporting Date'])
df_ND.sort_values(by=['Reporting Date','Material','Sales Order Num',],inplace=True)

In [27]:
df_ND['$CC Open Net Amount'].sum()

2824681999.216883

In [41]:
df_new = pd.merge(df_ND,df_invoiced,on=['Material','Sales Order Num',],how='left',indicator='isInvoiced')
df_new

,Sales Order Num,Material,Sales Order Line Item,$CC Open Net Amount,Reporting Date,Sales order line item,$CC Rev,Posting_Date,isInvoiced
0,8535142,35880,40,187.089168,2022-04-01,NaN,15.652510,2022-04-01,both
1,8535142,35880,40,187.089168,2022-04-01,NaN,187.089168,2022-04-01,both
2,8535142,40439,30,374.178336,2022-04-01,NaN,31.305019,2022-04-01,both
3,8535142,40439,30,374.178336,2022-04-01,NaN,374.178336,2022-04-01,both
4,8621039,50712,10,859.450000,2022-04-01,NaN,359.450000,2022-04-18,both
...,...,...,...,...,...,...,...,...,...
659217,8664307,8868261,10,4549.036800,2022-06-29,NaN,4549.036800,2022-06-30,both
659218,8664309,8868261,10,4549.036800,2022-06-29,NaN,4549.036800,2022-06-30,both
659219,8664311,8868261,10,4549.036800,2022-06-29,NaN,4549.036800,2022-06-30,both
659220,8675758,8868275,10,5574.240000,2022-06-29,NaN,NaN,NaT,left_only
659221,8675758,8868279,30,26829.000000,2022-06-29,NaN,NaN,NaT,left_only

In [42]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 659222 entries, 0 to 659221
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Sales Order Num        659222 non-null  int64
 1   Material               659222 non-null  int64
 2   Sales Order Line Item  659222 non-null  int64
 3   $CC Open Net Amount    658902 non-null  float64
 4   Reporting Date         659222 non-null  datetime64[ns]
 5   Sales order line item  6 non-null       float64
 6   $CC Rev                498040 non-null  float64
 7   Posting_Date           498040 non-null  datetime64[ns]
 8   isInvoiced             659222 non-null  category
dtypes: category(1), datetime64[ns](2), float64(3), int64(3)
memory usage: 45.9 MB

In [48]:
df_test = df_new.loc[(df_new['Reporting Date'] >= '2022-06-01') & (df_new['isInvoiced'] == 'both')]

df_test['$CC Rev'].sum()

561388153.2955068