In [5]:
!pip install fast-to-sql

Requirement already satisfied: fast-to-sql in c:\users\a803377\anaconda3\lib\site-packages (2.1.14)
Requirement already satisfied: pandas in c:\users\a803377\anaconda3\lib\site-packages (from fast-to-sql) (1.3.4)
Requirement already satisfied: pyodbc in c:\users\a803377\anaconda3\lib\site-packages (from fast-to-sql) (4.0.0-unsupported)
Requirement already satisfied: pytz>=2017.3 in c:\users\a803377\anaconda3\lib\site-packages (from pandas->fast-to-sql) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\a803377\anaconda3\lib\site-packages (from pandas->fast-to-sql) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\a803377\anaconda3\lib\site-packages (from pandas->fast-to-sql) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\a803377\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->fast-to-sql) (1.16.0)

In [2]:
import numpy as np 
import pandas as pd
import seaborn as sns
from pandas_profiling import ProfileReport

import matplotlib 
from matplotlib import pyplot as plt
from matplotlib import style
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [6]:
# df= pd.read_excel(r"C:\Users\A803377\Downloads\Cost Adder 2022.xls")
df

,Concat,Reporting_Line,ProfitCenterSBUDesc,COGS Adder Review,Fiscal Period
0,AP_CS,AP_CS,,0.000000,2022001
1,AP_CS,AP_CS,,0.000000,2022002
2,AP_CS,AP_CS,,0.000000,2022003
3,AP_CS,AP_CS,,0.000000,2022004
4,AP_CS,AP_CS,,0.000000,2022005
...,...,...,...,...,...
2277,NA_ISWet Strength,NA_IS,Wet Strength,0.061822,2022008
2278,NA_ISWet Strength,NA_IS,Wet Strength,0.061822,2022009
2279,NA_ISWet Strength,NA_IS,Wet Strength,0.061822,2022010
2280,NA_ISWet Strength,NA_IS,Wet Strength,0.061822,2022011
2281,NA_ISWet Strength,NA_IS,Wet Strength,0.061822,2022012

In [5]:
df[['Concat', 'Reporting_Line', 'ProfitCenterSBUDesc', 
       'Fiscal Period']] = df[[ 'Concat', 'Reporting_Line', 'ProfitCenterSBUDesc', 
       'Fiscal Period']].astype('string').replace('\.0', '', regex=True)
df[['Concat', 'Reporting_Line', 'ProfitCenterSBUDesc', 
       'Fiscal Period']] = df[[ 'Concat', 'Reporting_Line', 'ProfitCenterSBUDesc', 
       'Fiscal Period']].replace(np.nan, '', regex=True)
df[['COGS Adder Review']] = df[['COGS Adder Review']].replace(np.nan, 0.0, regex=True)

In [3]:
df= pd.read_excel(r'C:\Users\A803377\Downloads\SQL Data - 27th Feb.xlsx')
df

,CONCAT,Controlling Area,Document,Line Item,Posting Date,Object,Cost Element Key,Cost Element,Cost Center,Cost Center Key,Actual Document Amount,Actual Company Amount,Total Quantity,Actual Group Amount,Company Amount,Group Amount,Document Currency,Company Currency,Group Currency,LC Amount,$AR Amount,$CC Amount,$As Reported Rate,BP FX RATE,Company,Functional Area,Fiscal Year,Fiscal Period,Reference Document Number,Purchasing Document Number,Vendor,Vendor Name,PO_VendorNumber,PO_VendorName,Cost Center Name,Cost Element Name,Cost Group,Cost Group formula,Document Type,Document Type Description,New Vendor Names,Function,Sub-Function,Company Name,Region,Month
0,20221102397054135775808314302855700040,ASHI,135775808,314,2021-10-01,KSASHI0000302855,ASHI|0000700040,700040,302855,ASHI|0000302855,-5828.52,-5828.52,0.0,-5828.52,-5828.52,-5828.52,USD,USD,USD,-5828.52,-5828.520000,-5828.520000,1.000000,1.000000,1020,FA11,2022,1,102397054,,NaN,NaN,NaN,NaN,1020 WStr Siz RD,Employee Benefits CP,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Payroll Related,R&D,RD_PP,Solenis,NaN,October
1,20221102397054135775808318320105700016,ASHI,135775808,318,2021-10-01,KSASHI0000320105,ASHI|0000700016,700016,320105,ASHI|0000320105,-22257.90,-22257.90,0.0,-22257.90,-22257.90,-22257.90,USD,USD,USD,-22257.90,-22257.900000,-22257.900000,1.000000,1.000000,1020,FA11,2022,1,102397054,,NaN,NaN,NaN,NaN,US 1020 T&T RD,Salaries Exem/Cler,Salaries Wages,Salaries_Wages_Exp,ZJ,HR Accnt Doc Re,Payroll Related,R&D,RD_PP,Solenis,NaN,October
2,20221102397054135775808430992236700041,ASHI,135775808,430,2021-10-01,KSASHI0000992236,ASHI|0000700041,700041,992236,ASHI|0000992236,-2047.50,-2047.50,0.0,-2047.50,-2047.50,-2047.50,USD,USD,USD,-2047.50,-2047.500000,-2047.500000,1.000000,1.000000,1020,FA13,2022,1,102397054,,NaN,NaN,NaN,NaN,Operations,Svgs Plan Comp Contr,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Payroll Related,Supply Chain,Supply Chain Operations,Solenis,NaN,October
3,20221102397054135775808598992655700041,ASHI,135775808,598,2021-10-01,KSASHI0000992655,ASHI|0000700041,700041,992655,ASHI|0000992655,-1325.97,-1325.97,0.0,-1325.97,-1325.97,-1325.97,USD,USD,USD,-1325.97,-1325.970000,-1325.970000,1.000000,1.000000,1020,FA13,2022,1,102397054,,NaN,NaN,NaN,NaN,Indirect Procurement,Svgs Plan Comp Contr,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Payroll Related,Sourcing,Sourcing,Solenis,NaN,October
4,2022110239705513577580967320106700004,ASHI,135775809,67,2021-10-01,KSASHI0000320106,ASHI|0000700004,700004,320106,ASHI|0000320106,-3038.72,-3038.72,0.0,-3038.72,-3038.72,-3038.72,USD,USD,USD,-3038.72,-3038.720000,-3038.720000,1.000000,1.000000,1020,FA11,2022,1,102397055,,NaN,NaN,NaN,NaN,US 1020Â Barrier RD,Non Productive Labor,Salaries Wages,Salaries_Wages_Exp,ZJ,HR Accnt Doc Re,Payroll Related,R&D,RD_PP,Solenis,NaN,October
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371909,202352000000491386785904996081700048,ASHI,138678590,4,2023-02-10,KSASHI0000996081,ASHI|0000700048,700048,996081,ASHI|0000996081,3404.40,3404.40,0.0,3404.40,3404.40,3404.40,USD,USD,USD,3404.40,3404.400000,3404.400000,1.000000,1.000000,US33,FA13,2023,5,200000049,,NaN,NaN,NaN,NaN,US Supply Chain,Payroll Taxes,Employee Benefits,Employee_Benefits_Exp,PW,WD Payroll Posting,Payroll Related,Supply Chain,Pools Supply Chain,Sigura,NaN,February
371910,2023520000004913867859065381014700016,ASHI,138678590,65,2023-02-10,KSASHI0000381014,ASHI|0000700016,700016,381014,ASHI|0000381014,9448.76,9448.76,0.0,9448.76,9448.76,9448.76,USD,USD,USD,9448.76,9448.760000,9448.760000,1.000000,1.000000,US33,FA12,2023,5,200000049,,NaN,NaN,NaN,NaN,Selling Regulatory,Salaries Exem/Cler,Salaries Wages,Salaries_Wages_Exp,PW,WD Payroll Posting,Payroll Related,EHS,EHS,Sigura,NaN,February
371911,20235200000049138678590114381049700016,ASHI,138678590,114,2023-02-10,KSASHI0000381049,ASHI|0000700016,700016,381049,ASHI|0000381049,24403.02,24403.02,0.0,24403.02,24403.02,24403.02,USD,USD,USD,24403.02,24403.020000,24403.020000,1.000000,1.000000,US33,FA12,2023,5,200000049,,NaN,NaN,NaN,NaN,PS NA PD WestTempNA3,Salaries Exem/Cler,Salaries Wages,Salaries_Wages_Exp,PW,WD Payroll Posting,Do not use,Do not use,Do not use,Do not use,Do not use,February
371912,202351000060011386789951993286712012,ASHI,138678995,1,2023-02-08,KSASHI0000993286,ASHI|0000712012,712012,993286,ASHI|0000993286,688.00,688.00,0.0,8.32,688.00,8.32,INR,INR,USD,688.00,8.336594,8.648161,0.012117,0.012570,913,FA13,2023,5,100006001,,2406405.0,AVINASH P V,NaN,NaN,Accounting,Internet/Cable Fees,Other Employee,Telecom_Exp,YG,Expense Reports,AVINASH P V,Finance,Controllers,Solenis,NaN,February
371913,2022113222730233222730662992511728518,ASHI,322273066,2,2022-08-31,KSASHI0000992511,ASHI|0000728518,728518,992511,ASHI|0000992511,7.24,7.22,0.0,7.24,7.22,7.24,USD,EUR,USD,7.22,7.319566,7.315393,1.013790,1.013212,390,FA13,2022,11,322273023,,NaN,NaN,NaN,NaN,SAP Upgrade,ASSED INFO MGMT,Allocations,Allocations,NaN,NaN,Not assigned,IT,GBTS,Solenis,EMEA,August

In [5]:

# df= pd.read_csv(r'C:\Users\A803377\Downloads\SQL Data - 27th Feb - Copy.csv')
# df

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371914 entries, 0 to 371913
Data columns (total 46 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   CONCAT                      371914 non-null  object
 1   Controlling Area            371914 non-null  object
 2   Document                    371914 non-null  int64
 3   Line Item                   371914 non-null  int64
 4   Posting Date                371914 non-null  datetime64[ns]
 5   Object                      371914 non-null  object
 6   Cost Element Key            371914 non-null  object
 7   Cost Element                371914 non-null  int64
 8   Cost Center                 371914 non-null  int64
 9   Cost Center Key             371914 non-null  object
 10  Actual Document Amount      371914 non-null  float64
 11  Actual Company Amount       371914 non-null  float64
 12  Total Quantity              371914 non-null  float64
 13  Actual Group Amount         371914 non-null  float64
 14  Company Amount              371914 non-null  float64
 15  Group Amount                371914 non-null  float64
 16  Document Currency           371914 non-null  object
 17  Company Currency            371914 non-null  object
 18  Group Currency              371914 non-null  object
 19  LC Amount                   371914 non-null  float64
 20  $AR Amount                  371914 non-null  float64
 21  $CC Amount                  371914 non-null  float64
 22  $As Reported Rate           371914 non-null  float64
 23  BP FX RATE                  371914 non-null  float64
 24  Company                     371914 non-null  object
 25  Functional Area             371914 non-null  object
 26  Fiscal Year                 371914 non-null  int64
 27  Fiscal Period               371914 non-null  int64
 28  Reference Document Number   371914 non-null  object
 29  Purchasing Document Number  371914 non-null  object
 30  Vendor                      133828 non-null  float64
 31  Vendor Name                 133828 non-null  object
 32  PO_VendorNumber             1240 non-null    float64
 33  PO_VendorName               1240 non-null    object
 34  Cost Center Name            371914 non-null  object
 35  Cost Element Name           371914 non-null  object
 36  Cost Group                  371914 non-null  object
 37  Cost Group formula          371914 non-null  object
 38  Document Type               341323 non-null  object
 39  Document Type Description   341323 non-null  object
 40  New Vendor Names            371914 non-null  object
 41  Function                    371914 non-null  object
 42  Sub-Function                371914 non-null  object
 43  Company Name                371914 non-null  object
 44  Region                      214043 non-null  object
 45  Month                       371914 non-null  object
dtypes: datetime64[ns](1), float64(13), int64(6), object(26)
memory usage: 130.5+ MB

In [14]:
print('NR:',df['$LC Final Rev Diff'].sum())
print('GP:',df['$LC COGS Diff'].sum())

NR: 59032.36579799652
GP: 201178575.65168905

In [5]:
df[['CONCAT','Controlling Area','Document', 'Line Item','Object', 'Cost Element Key', 'Cost Element', 'Cost Center','Cost Center Key', 'Company Currency',
'Document Currency','Group Currency','Company', 'Functional Area',
       'Fiscal Year', 'Fiscal Period', 'Reference Document Number',
       'Purchasing Document Number', 'Vendor', 'Vendor Name',
       'PO_VendorNumber', 'PO_VendorName', 'Cost Center Name',
       'Cost Element Name', 'Cost Group', 'Cost Group formula',
       'Document Type', 'Document Type Description', 'New Vendor Names',
       'Function', 'Sub-Function', 'Company Name', 'Region', 'Month']] = df[['CONCAT','Controlling Area','Document', 'Line Item','Object', 'Cost Element Key', 'Cost Element', 'Cost Center','Cost Center Key', 'Company Currency',
'Document Currency','Group Currency','Company', 'Functional Area',
       'Fiscal Year', 'Fiscal Period', 'Reference Document Number',
       'Purchasing Document Number', 'Vendor', 'Vendor Name',
       'PO_VendorNumber', 'PO_VendorName', 'Cost Center Name',
       'Cost Element Name', 'Cost Group', 'Cost Group formula',
       'Document Type', 'Document Type Description', 'New Vendor Names',
       'Function', 'Sub-Function', 'Company Name', 'Region', 'Month']].astype('string').replace('\.0', '', regex=True)

In [30]:
df[['Firms', 'Invoice #', 'Invoice Date', 'Matter',
       'Classification', 'Projects', 'Regions', 'Countries',
       'Column1', 'Notes','Invoice Amount', 'Owner' ]] = df[['Firms', 'Invoice #','Invoice Date', 'Matter',
       'Classification', 'Projects', 'Regions', 'Countries',
       'Column1', 'Notes','Invoice Amount', 'Owner']].astype('string').replace('\.0', '', regex=True)

# df[[ 'Invoice Date', 'Month Work Performed ']] = pd.to_datetime(df[[ 'Invoice Date', 'Month Work Performed ']]).dt.strftime('%Y-%m-%d')

# df["Invoice Date"] = pd.to_datetime(df["Invoice Date"]).dt.strftime('%Y-%m-%d')

df = df.replace(np.nan, '', regex=True)

# df[['Invoice Amount']] = df[['Invoice Amount']].astype(float)

In [6]:
# df = df.replace(r"^ +| +$", r"", regex=True)
df = df.replace(np.nan, '', regex=True)
df[['LC Amount', '$AR Amount', '$CC Amount','$As Reported Rate', 'BP FX RATE']] = df[['LC Amount', '$AR Amount', '$CC Amount','$As Reported Rate', 'BP FX RATE']].replace('[^0-9]', '', regex=True)
df[['LC Amount', '$AR Amount', '$CC Amount','$As Reported Rate', 'BP FX RATE']] = df[['LC Amount', '$AR Amount', '$CC Amount','$As Reported Rate', 'BP FX RATE']].replace('', 0.0, regex=True)
df[['LC Amount', '$AR Amount', '$CC Amount','$As Reported Rate', 'BP FX RATE']] = df[['LC Amount', '$AR Amount', '$CC Amount','$As Reported Rate', 'BP FX RATE']].astype(float)
df[['Actual Document Amount', 'Actual Company Amount','Total Quantity', 'Actual Group Amount', 'Company Amount','Group Amount']]= df[['Actual Document Amount', 'Actual Company Amount','Total Quantity', 'Actual Group Amount', 'Company Amount','Group Amount']].replace('', 0.0, regex=True)
df[['Actual Document Amount', 'Actual Company Amount','Total Quantity', 'Actual Group Amount', 'Company Amount','Group Amount']]= df[['Actual Document Amount', 'Actual Company Amount','Total Quantity', 'Actual Group Amount', 'Company Amount','Group Amount']].astype(float)
# df['Posting Date'] = pd.to_datetime(df["Posting Date"]).dt.strftime('%m/%d/%Y')
df['Posting Date'] = df["Posting Date"].astype('string').replace('\.0', '', regex=True)

In [9]:
df['Posting Date'] = df["Posting Date"].astype('string').replace('\.0', '', regex=True)

In [23]:
# df['Posting Date'].unique()

In [7]:
df

,CONCAT,Controlling Area,Document,Line Item,Posting Date,Object,Cost Element Key,Cost Element,Cost Center,Cost Center Key,Actual Document Amount,Actual Company Amount,Total Quantity,Actual Group Amount,Company Amount,Group Amount,Document Currency,Company Currency,Group Currency,LC Amount,$AR Amount,$CC Amount,$As Reported Rate,BP FX RATE,Company,Functional Area,Fiscal Year,Fiscal Period,Reference Document Number,Purchasing Document Number,Vendor,Vendor Name,PO_VendorNumber,PO_VendorName,Cost Center Name,Cost Element Name,Cost Group,Cost Group formula,Document Type,Document Type Description,New Vendor Names,Function,Sub-Function,Company Name,Region,Month
0,2022110239705413577580864992211700041,ASHI,135775808,64,10/01/2021,KSASHI0000992211,ASHI|0000700041,700041,992211,ASHI|0000992211,-607.67,-607.67,0.00,-607.67,-607.67,-607.67,USD,USD,USD,-607.67,-607.670000,-607.670000,1.000000,1.000000,1020,FA13,2022,1,102397054,,,,,,A/R & Credit Dept.,Svgs Plan Comp Contr,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Payroll Related,Finance,CREDIT,Solenis,,October
1,20221102397054135775808127992843700040,ASHI,135775808,127,10/01/2021,KSASHI0000992843,ASHI|0000700040,700040,992843,ASHI|0000992843,-960.63,-960.63,0.00,-960.63,-960.63,-960.63,USD,USD,USD,-960.63,-960.630000,-960.630000,1.000000,1.000000,1020,FA13,2022,1,102397054,,,,,,NA AWT Sales & Safty,Employee Benefits CP,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Payroll Related,EHS,EHS,Solenis,,October
2,20221102397054135775808350359031700048,ASHI,135775808,350,10/01/2021,KSASHI0000359031,ASHI|0000700048,700048,359031,ASHI|0000359031,-443.40,-443.40,0.00,-443.40,-443.40,-443.40,USD,USD,USD,-443.40,-443.400000,-443.400000,1.000000,1.000000,1020,FA13,2022,1,102397054,,,,,,INDUSTRIAL WATER,Payroll Taxes,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Payroll Related,Marketing,MKT_IWT,Solenis,,October
3,20221102397054135775808512302854700041,ASHI,135775808,512,10/01/2021,KSASHI0000302854,ASHI|0000700041,700041,302854,ASHI|0000302854,-1450.21,-1450.21,0.00,-1450.21,-1450.21,-1450.21,USD,USD,USD,-1450.21,-1450.210000,-1450.210000,1.000000,1.000000,1020,FA11,2022,1,102397054,,,,,,1020-GT-DRY STRENGTH,Svgs Plan Comp Contr,Employee Benefits,Employee_Benefits_Exp,ZJ,HR Accnt Doc Re,Not assigned,R&D,RD_PP,Solenis,,October
4,20221102397055135775809100302768700016,ASHI,135775809,100,10/01/2021,KSASHI0000302768,ASHI|0000700016,700016,302768,ASHI|0000302768,-11011.49,-11011.49,0.00,-11011.49,-11011.49,-11011.49,USD,USD,USD,-11011.49,-11011.490000,-11011.490000,1.000000,1.000000,1020,FA11,2022,1,102397055,,,,,,AHWT FAST TRACK R&D,Salaries Exem/Cler,Salaries Wages,Salaries_Wages_Exp,ZJ,HR Accnt Doc Re,Payroll Related,R&D,RD_PP,Solenis,,October
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333530,20227 3221096681992502728518,ASHI,322109668,1,04/30/2022,KSASHI0000992502,ASHI|0000728518,728518,992502,ASHI|0000992502,7.59,7.22,0.00,7.59,7.22,7.59,USD,EUR,USD,7.22,7.829753,7.315393,1.084453,1.013212,390,FA13,2022,7,,,,,,,Finance Local,ASSED INFO MGMT,Allocations,Allocations,,,Not assigned,Finance,CONTROLLERS,Solenis,EMEA,April
333531,202212487265832227936770305561728565,ASHI,322279367,70,09/30/2022,KSASHI0000305561,ASHI|0000728565,728565,305561,ASHI|0000305561,38.88,38.88,0.61,51.72,38.88,51.72,GBP,GBP,USD,38.88,44.203579,46.675230,1.136923,1.200495,8442,FA11,2022,12,4872658,,,,,,KiloLab,WAGES,Allocations,Allocations,,,Not assigned,R&D,RD_PP,Solenis,EMEA,September
333532,20221248864623223024492302664702001,ASHI,322302449,2,09/30/2022,KSASHI0000302664,ASHI|0000702001,702001,302664,ASHI|0000302664,304.89,304.89,0.00,304.80,304.89,304.80,EUR,EUR,USD,304.89,302.400065,308.918295,0.991833,1.013212,494,FA11,2022,12,4886462,,,,,,AHWT BUS ADM R&D (DE,Repairs &Maintenance,Facility Rent,Repair_Maint_Exp,,,Not assigned,R&D,RD_PP,Solenis,EMEA,September
333533,20221248864653223024522302667702001,ASHI,322302452,2,09/30/2022,KSASHI0000302667,ASHI|0000702001,702001,302667,ASHI|0000302667,7763.47,7763.47,0.00,7761.14,7763.47,7761.14,EUR,EUR,USD,7763.47,7700.068328,7866.043203,0.991833,1.013212,494,FA11,2022,12,4886465,,,,,,AWT Paper Machine SS,Repairs &Maintenance,Facility Rent,Repair_Maint_Exp,,,Not assigned,R&D,RD_PP,Solenis,EMEA,September
333534,20221248877983223037742302667702001,ASHI,322303774,2,09/30/2022,KSASHI0000302667,ASHI|0000702001,702001,302667,ASHI|0000302667,348.44,348.44,0.00,335.27,348.44,335.27,EUR,EUR,USD,348.44,345.594407,353.043690,0.991833,1.013212,494,FA11,2022,12,4887798,,,,,,AWT Paper Machine SS,Repairs &Maintenance,Facility Rent,Repair_Maint_Exp,,,Not assigned,R&D,RD_PP,Solenis,EMEA,September

In [4]:
df.columns

Index(['Concat', 'Reporting_Line', 'ProfitCenterSBUDesc', 'COGS Adder Review',
       'Fiscal Period'],
      dtype='object')

In [8]:
# df[[ 'Cost Element', 'Cost Center', 'LC Amount', '$AR Amount',
#        '$CC Amount', '$AR Rate', 'Company Currency', 'Company',
#        'Functional Area', 'Fiscal Year', 'Fiscal Period', 'Calendar Year',
#        'Calendar Month']] = df[[ 'Cost Element', 'Cost Center', 'LC Amount', '$AR Amount',
#        '$CC Amount', '$AR Rate', 'Company Currency', 'Company',
#        'Functional Area', 'Fiscal Year', 'Fiscal Period', 'Calendar Year',
#        'Calendar Month']].astype('string')

In [56]:
# df = df.apply(lambda x: x.str.replace(',',''))

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [15]:
df[['Company Code', 'Customer Group', 'Input Sales Group', 'FiscalPeriod',
       'Datasource']] = df[['Company Code', 'Customer Group', 'Input Sales Group', 'FiscalPeriod',
       'Datasource']].astype('string').replace('\.0', '', regex=True)

In [7]:
# df[['Cost Element','F18','Company']] = df[['Cost Element','F18','Company']].replace(np.nan,'', regex=True)
# df = df.replace(np.nan, '', regex=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2282 entries, 0 to 2281
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Concat               2282 non-null   string
 1   Reporting_Line       2282 non-null   string
 2   ProfitCenterSBUDesc  2282 non-null   string
 3   COGS Adder Review    2282 non-null   float64
 4   Fiscal Period        2282 non-null   string
dtypes: float64(1), string(4)
memory usage: 89.3 KB

In [5]:
df.columns

Index(['Firms', 'Invoice #', 'Invoice Date', 'Month Work Performed ', 'Matter',
       'Classification', 'Projects', 'Regions', 'Countries', 'Invoice Amount',
       'Column1', 'Notes', 'Owner', 'Sent to SAP'],
      dtype='object')

In [ ]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import urllib
import sqlalchemy as sa
import pyodbc
import time
from fast_to_sql import fast_to_sql as fts

start = time.time()
#Connecting to SQL 
conn = pyodbc.connect("""
DRIVER={SQL Server Native Client 11.0};
SERVER= NAAZUREEDWS01;
UID= svc_tableau_dev;
PWD= EwSol@321$;
DATABASE=TableauDB;
trusted_connection=Yes""")

# fts.fast_to_sql(df,'rpt.ManualCOGS_Temp',conn, if_exists="append", custom={'Concat':'nvarchar(225)','Reporting_Line':'nvarchar(225)',"ProfitCenterSBUDesc":'nvarchar(225)'
#                                                                                   ,"Fiscal Period":'nvarchar(225)',"COGS Adder Review":'float(53)'}, temp=False)


fts.fast_to_sql(df,'rpt.ManualVendorUpdate_LATEST1',conn, if_exists="append",  temp=False)

conn.commit()
conn.close()
end = time.time()
delta = end - start
print("took %.2f seconds to process" % delta)
print("Update Completed")

In [107]:
# import pandas as pd
# import sqlalchemy as sa
# import time

# start = time.time()

# connection_string = ("""
# DRIVER={SQL Server Native Client 11.0};
# SERVER= NAAZUREEDWS01;
# UID= svc_tableau_dev;
# PWD= EwSol@321$;
# DATABASE=TableauDB;
# trusted_connection=Yes""")

# connection_url = sa.engine.URL.create(
#     "mssql+pyodbc", 
#     query=dict(odbc_connect=connection_string)
# )
# engine = sa.create_engine(connection_url, fast_executemany=False)

# df.to_sql('ManualWarehouseBP1',engine,schema= 'rpt',if_exists= "replace", index=False)


# end = time.time()
# delta = end - start
# print("took %.2f seconds to process" % delta)
# print("Update Completed")

took 21.54 seconds to process
Update Completed

In [ ]:
PricingHUBDB.[rpt].[ManualVendorUpdate]

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import urllib
import sqlalchemy as sa
import pyodbc
import time
from fast_to_sql import fast_to_sql as fts

start = time.time()
#Connecting to SQL 
conn = pyodbc.connect("""
DRIVER={SQL Server Native Client 11.0};
SERVER= NAAZUREEDWS01;
UID= svc_tableau_dev;
PWD= EwSol@321$;
DATABASE=PricingHUBDB;
trusted_connection=Yes""")

# fts.fast_to_sql(df,'rpt.ManualWarehouseBP1',conn, if_exists="replace", custom={'Cost Element':'nvarchar(225)','Cost Center':'nvarchar(225)','LC Amount':'nvarchar(225)','$AR Amount':'nvarchar(225)','$CC Amount':'nvarchar(225)',
#                                                                                   '$AR Rate':'nvarchar(225)','Company Currency':'nvarchar(225)','Company':'nvarchar(225)','Functional Area':'nvarchar(225)',
#                                                                                          'Fiscal Year':'nvarchar(225)','Fiscal Period':'nvarchar(225)','Calendar Year':'nvarchar(225)','Calendar Month':'nvarchar(225)'}, temp=False)


# fts.fast_to_sql(df,'rpt.ManualVendorUpdate1',conn, if_exists="append",  temp=False)

conn.commit()
conn.close()
end = time.time()
delta = end - start
print("took %.2f seconds to process" % delta)
print("Update Completed")

took 3.63 seconds to process
Update Completed

In [64]:
75045531660.3100-308221902.7600

74737309757.55

In [65]:
77438931608.6200-291955925.4400

77146975683.18